* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(../img/main3.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	/*border-bottom: 3px solid black;*/
}

.logo {
	font-size: 2rem;
	color: bisque;
	user-select: none;
}

.navbar a {
	position: relative;
	font-size: 1.1rem;
	color: bisque;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	transition: .8s;
}

.navbar a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: bisque;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .8s;
}

/*.navbar a:hover {
	color: black;
}*/

.navbar a:hover::after {
	transform: scaleX(1);
}

.navbar .btnlogin {
	margin-left: 40px;
	width: 130px;
	height: 50px;
	background: #413b36;
	border: 2px solid bisque;
	color: bisque;
	font-size: 1.1rem;
	font-weight: 500;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	transition: .8s;
}

.navbar .btnlogin:hover {
		background: bisque;
		color: black;
}

/* login form*/
.wrapper {
	position: relative;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: /*contrast(5)*/ blur(20px); /*filter na fon*/
	box-shadow: 0px 0px 30px rgba(255, 255, 255, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; /*sovmeshayet 2 layera*/
	transition: transform .8s ease, height .2s ease;
	transform: scale(0);
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 520px; /*cey razmer ? */
}

.wrapper .form-box {
	width: 100%;
	padding: 40px;
}

.wrapper .form-box.login {
	transition: transform .18s ease;
	transform: translateX(0);
} 

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);

}

.wrapper .form-box.register {
	position: absolute;
	transition: none;
	transform: translateX(400px);
} 

.wrapper.active .form-box.register {
	transition: transform .18s ease;
	transform: translateX(0);
} 

.wrapper .icon-close {
	position: absolute;
	top:	0;
	right: 0;
	width: 45px;
	height: 45px;
	background: #413b36;
	color: bisque;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
	transition: .8s;
}

.wrapper .icon-close:hover {
	background: bisque;
	color: black;
}


.form-box h2 {
	font-size: 2rem;
	color: bisque;
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid;
	margin: 30px 0;
	color: bisqui;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1rem;
	font-weight: 500;
	pointer-events: none; /*nado pocitat*/
	transition: .8s;
	color: bisque;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top: -5px;

}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: 0;
	font-size: 1rem;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	line-height: 57px;
	color: bisque;
}

.remember-forgot {
	font-size: 0.9rem;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: black;
	margin-right: 3px;
}

.remember-forgot a {
	text-decoration: none;
	color: black;
}
.remember-forgot a:hover {
	text-decoration: underline;
}
.btn {
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 6px;
	outline: none;
	background: #413b36;
	font-size: 1rem;
	font-weight: 500;
	color: bisque;
	cursor: pointer;
	transition: .8s;
}

.btn:hover {
	background: bisque;
	color: black;
}


.login-register {
	font-size: 0.9rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin: 25px 0 10px;
}

.login-register a{
	margin-left: 6px; 
}

.login-register p a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover {
	text-decoration: underline;

}
